/* selectores
le doy formarto o propiedades a todo el html

*{

}

las clases las puedo utilizar donde yo quiera y cuantas veces quiera
.container{

}

etiqueta con 1  id
#inicio{

} */

*{
    
    box-sizing: border-box; /* Que respete el tamaño que tiene y no se salga de las medidas originales*/
}

body{
    font-family: "Roboto";
    font-size: 15px;
}
p{
    color: black;
}

a{
    display: inline-block;
    text-decoration: none;
}

header{
    
    padding: 15px 0; /*ponemos distancia hacia afuera*/
    position: fixed; /*posición fija para que le menu siga bajando*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
}

header .container{
    display: flex; /*Para evitar el desbordamiento ---- flex, acomoda sus elementos hijos*/
    justify-content: space-between; /*Alinear los elementos en el eje X; spacebetween pone espacio entre los elementos*/
    align-items: center;
}

header .container .logo{
    width: 100px;
}

header .container nav a{
    color:  #2454a4;
    text-decoration: none;
    margin: 0 15px;
}

header .container .burger{
    display: none;
    position: relative;
}

footer.seccion{
    background-color: black;
    color: white;
    padding-bottom: 0;
}

footer ul{
    padding-left: 0;
    list-style: none;
    margin: 0;
}

footer ul li{
    margin-bottom: 10px;
}

footer .redes{
    font-size: 30px;
    display: flex;
    /* justify-content: space-between; */
}

footer .redes a{
    margin: 0 8px;
}



footer p{
    color:white;
    margin-bottom: 30px;
}

footer a{
    margin-bottom: 5px;
    color: white;
}

footer .barra-footer{
    background-color: gray;
    text-align: center;
    padding: 15px 15px;
}

footer .logo-footer{
    width: 100%;
}

.container{
    width: 1140px;
    margin: 0 auto; /*Con el cero  asignamos el margen en top y bot hacia a dentro; y el auto asignamos en la der e izq*/
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.columna{
    padding-left: 15px;
    padding-right: 15px;
}

.columna-33{
    width: 33.33%;
}

.cuadrado-perfecto{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.cuadrado-perfecto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0px;
    left: 0;
}

.columna-50{
    width: 50%;
}

.columna-41{
    width: 41.66%;
}

.columna-25{
    width: 25%;
}

.empujar-50{
    margin-left: 50%;
}

.empujar-58{
    margin-left: 58.33%;
}

.empujar-66{
    margin-left: 66.66%;
}

.empujar-0{
    margin-left: 0;
}

.boton{
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}

.boton.boton-azul{  /*Es para la clase boton que tiene otra clase boton-rojo*/
    color: white;
    background-color:  #2454a4;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 100; /*profundidad, que oscurito se vea*/
}

.boton.boton-azul:hover{  /*Es para la clase boton que tiene otra clase boton-rojo*/
    color: white;
    background-color:  #2a63c5de;
}

.boton.boton-blanco{  /*Es para la clase boton que tiene otra clase boton-rojo*/
    color:  #2454a4;
    background-color: white;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 100; /*profundidad, que oscurito se vea*/
    border: 1px solid  #2454a4;
}

.boton.boton-blanco:hover{  /*Es para la clase boton que tiene otra clase boton-rojo*/
    color: white;
    background-color:  #2454a4;
}

.boton.boton-negro{  /*Es para la clase boton que tiene otra clase boton-rojo*/
    color: white;
    background-color: black;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 100; /*profundidad, que oscurito se vea*/
    border: 1px solid white;
}

.boton.boton-negro:hover{  /*Es para la clase boton que tiene otra clase boton-rojo*/
    color: white;
    background-color: rgba(0, 0, 0, 0.575);
    border: 1px solid rgba(255, 255, 255, 0.788);
}

.seccion{
    padding-top: 60px;
    padding-bottom: 60px;
}

.row{
    display: flex;
    flex-wrap: wrap; /* wrap -- Si la columna no llega a entrar se va abajo
                        nowrap -- Se va a colocar si o si todas las columnas*/
    margin-left: -15px;
    margin-right: -15px;
}



#inicio{
    position: relative; /*Puedes mover los elementos en top, bot, left, right y z-index; pero queda el espacio del objeto*/
}

#inicio img{
    width: 100%;
    display: block;
}

#inicio .bloque-inicio{
    position: absolute; /*Se puede mover y no va a ocupar un espacio, puede sobre ponerse*/
    top: 30%;
    left: 50%;
    width: 400px;
    text-align: right; /*Elementos de tipi inline en el centro*/
    margin-left: -0px;
}

#inicio .bloque-inicio h1{
    color: white;
    font-size: 35px;
}

#inicio .bloque-inicio p{
    color: white;
    font-size: 16px;
}

#nosotros{
    background-image: url(/Front/img/nosotros.jpg);
    background-size: cover;  /*Va a cubrir todo el espacio que tenga*/    
}

#nosotros p{
    color: white;
    text-align: center;
    font-size: 16px;
    /*margin: 0;*/
}

#servicios .bloque-servicio{
    border: 1px solid gray;
    border-radius: 5%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); /*Sombra en los cuadrados*/
}

#servicios .bloque-servicio .bloque-img-servicio{
    
}

#servicios .bloque-servicio .bloque-img-servicio img{
    width: 100%;
    border-radius: 5%;
    align-content: center;
}

#servicios .bloque-servicio .bloque-img-servicio.cuadrado-perfecto{
    padding-top: 20%;
    padding-bottom: 15%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100px;
}

#servicios .bloque-servicio .bloque-contenido-servicio{
    padding: 15px;
}

#servicios .bloque-servicio .bloque-contenido-servicio h3{
    margin-top: 0px;
    font-size: 25px;
}

#galeria{

}

#galeria h4{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    position: absolute;
    top:40%;
    color: white;
    font-size: 18px;
    width: 100%;
}

#galeria img{
    filter: grayscale(1);
}

#galeria .cuadrado-perfecto:hover img{
    filter: grayscale(0);
}

#galeria .cuadrado-perfecto:hover h4{
    display: none;
}

#contactenos{
    position: relative;
}

#contactenos iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

#contactenos iframe:hover{
    filter: grayscale(0);
}

#contactenos form{
    padding: 60px;
    background-color:  #2454a4;
    border-radius: 15%;
}

#contactenos form .form-block{
    width: 100%;
    margin-bottom: 15px;
}

#contactenos form .form-block .form-control{
    display: block;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
    padding: 5px 10px;
}

#contactenos form .form-block textarea{
    display: block;
    height: 100px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
    padding: 5px 10px;
}

#contactenos form .form-block.bloque-ultimo{
    margin-bottom: 0;
}

.logo-blanco {
    filter: brightness(0) invert(1);
    padding-bottom: 0%;
}

/* Esta media query, va a servir solo cuando el dispositivo tenga 767px -- celular */
@media(max-width: 767px){

    body{
        size: 15px;
    }

    header .container nav{
        position: fixed;   /*Posición fija*/
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 80px 15px;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.45s ease;  /*ease es un tipo de transición*/
        transform: translateX(100%);
    }

    header .container nav.open{
        transform: translateX(0);
    }

    header .container nav a{
        font-size: 30px;
        margin: 15px 0;
    }

    header .container .burger{
        display: block;
        font-size: 40px;
        color:  #2454a4;
        position: relative;
    }

    footer{
        text-align: center;
    }

    footer .logo-footer{
        width: 50%;
    }

    footer .redes{
        justify-content: center;
    }

    form .boton.boton-negro{
        width: 100%;
    }

    .container{
        width: 100%;
    }

    .columna-movile-100{
        width: 100%;
    }

    .columna-movile-50{
        width: 50%;
    }

    .empujar-movile-0{
        margin-left: 0;
    }

    .sinpadding-movile{
        padding: 0;
    }

    #inicio{
        height: 100vh;
    }

    #inicio img{
         height: 100%;
         object-fit: cover;
         object-position: center;
    }

    #servicios .bloque-servicio{
        margin-bottom: 15px;
    }

    #contactenos iframe{
        padding: 0;
    }

    #contactenos iframe{
        position: relative;
        height: 150vh;
    }
}